.header{
    background-color:rgb(236, 214, 214);
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
    border-bottom: 10px solid black;
}


.list, img{
    background-color: rgb(180, 197, 191);
    display:inline-block;
    align-items: center;
}

.wraper{
    background-color: rgb(180, 197, 191);
    
    
}